<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @view.user_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @view.movie_id %>
</p>

<p>
  <strong>Place of viewing:</strong>
  <%= @view.place_of_viewing %>
</p>

<p>
  <strong>Review:</strong>
  <%= @view.review %>
</p>

<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
