<!DOCTYPE html>
<html>
<head>
  <title>MyMovie</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class='login'>
    <% if current_user %>
      <%= current_user.email %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>

  <li><%= link_to "home", root_path %></li>
 <li><%= link_to "users", users_path %></li>
 <li><%= link_to "views", views_path %></li>
 <li><%=link_to 'movies', movies_path %></li>
 </ul>
 </nav>
<%= yield %>

</body>
</html>
